body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

input[type="date"] {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	margin: 5px 10px;
	background-color: #fff;
	color: #2c3e50;
}

table {
	width: 80%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

th {
	background-color: #34495e;
	color: white;
}

tr:nth-child(even) {
	background-color: #ecf0f1;
}


input[type="submit"], button {
    background-color: #34495e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    padding: 5px 8px;
    border-radius: 4px;
}

input[type="submit"]:hover, button:hover {
    background-color: #5d7c96;
}

input[type="reset"] {
    color: #34495e;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="reset"]:hover,
button:hover {
    text-decoration: underline;
}